<!DOCTYPE html>
<html>
<head>
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script src="/js/web3.min.js"></script>
  <script src="/js/truffle-contract.js"></script>
  <script src="/js/app.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <input id="add-title-input" type="text" placeholder="Title"><button class="btn btn-success btn-add-title">Add Title</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-success btn-get-titles-count">Get # Titles</button><input id="titles-count" type="text">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-success btn-get-titles">Get Titles</button><input id="titles-list" type="text">
      </div>
    </div>

  </div>
</body>
</html>
